{% load static %}
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Django Girls!</title>
</head>

<body>
    <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/admin">Admin</a>
            <a href="/post/create">Stworz</a>
    </div>
    <div class="page-header">
        <div class="header-1">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>